.alert {
    align-items: center;
    animation: fadeIn 0.3s linear forwards;
    animation-delay: 0.3s;
    border-radius: 0 1rem 1rem 1rem;
    color: #fff;
    display: inline-flex;
    opacity: 0;
    padding: 1rem;
    &-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .icon {
        font-size: 2rem;
        margin-right: 1rem;
    }
    &.success {
        background-color: #dcfae8;
        color: #16a052;
    }
    &.error {
        animation: shake 1s linear forwards;
        background-color: rgba(#ea6a6a, 0.2);
        color: #ea6a6a;
        opacity: 1;
    }
    &.warning {
        border-radius: 1.5rem;
        box-shadow: 0 0 10px 0 rgba(234, 106, 106, 0.4);
        color: #ea6a6a;
        display: flex;
        padding: 1rem;
    }
}
